.nav-box{
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: 1;
  position: fixed;
  top: -80px;
  /* top: 0; */
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.5s ease;
}
.nav-touchbox{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
}

.nav-title{ 
  font-size: 40px;
  font-weight: bolder;
  font-family: '微软雅黑';
}

.nav-box > ul{
  display: flex;
  list-style-type: none;
}
.nav-box > ul > li > div{
  margin-left: 10px;
  transition: all 0.3s ease;
}
.nav-box > ul > li > div:hover{
  background-color: #ff91cd;
  border-radius: 30px;
}
.nav-box > ul > li > div > a{
  font-size: 30px;
  font-weight: bolder;
  display: block;
  padding: 10px 60px;
  color: black;
  text-decoration: none;
}