* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffcded;
}
.total-box{
  display: flex;
  flex-direction: column;
}
.background{
  margin-top: 30px;
  z-index: -2;
  position: absolute;
  width: 80%;
  height: 500px;
  background-image: url(../../img/BackGround.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;  
}
.MainBox {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.title-box {
  display: flex;
  width: 100%;
  height: 200px;
}

.left-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 1200px;
  /* border: 1px solid #000; */
  margin-top: 100px;
  border-radius: 30px;
}
  
.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  height: 100%;
  /* border: 1px solid #000; */
  margin-top: 100px;
  border-radius: 30px;
}

.glass-container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089);
}

.rainbow-text {
  background-image: linear-gradient(45deg,
      rgb(255, 186, 49),
      rgb(255, 98, 226),
      rgb(255, 42, 152),
      rgb(255, 226, 38));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}