.head-box {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.head-img {
  border-radius: 150px;
  box-shadow: 2px 2px 2px #00000063;
  width: 100%;
  height: 100%;
}

.introduce-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
}

.introduce-nametext {
  font-size: 30px;
  font-weight: bold;
}

.sign-box {
  display: flex;
}

.signature {
  font-family: 'Kaiti';
  font-weight: bold;
  margin-top: 8px;
  font-size: 15px;
}

.cursor {
  align-self: center;
  font-size: 20px;
  animation: cursor 0.5s infinite;
}

@keyframes cursor {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.introduce-hr {
  margin-top: 8px;
  width: 80%;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.449);
}
.school-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  font-size: 15px;
  font-weight: bold;
}
.time-box{
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
}
.timer-display{
  font-size: 40px;
}
.date-display{
  font-size: 20px;
}
.connectme-box{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connectme-box>h1{
  font-size: 30px;
}
.computer-box{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.computer-box > h1{
  font-size: 30px;
}
.computer-box > p{
  font-size: 20px;
}
.message-board-box{
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  width: 100%;
  height: 360px;
  /* background-color: #fff; */
}
.message-display-box{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    /* 设置滚动条的宽度 */
    width: 6px;
  }

  /* 滚动条轨道 - 背景颜色/白底 */
  &::-webkit-scrollbar-track {
    background: #d187ff;
    border-radius: 5px;
  }

  /* 滚动条的滑块部分 */
  &::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153, .2);
    border-radius: 10px;
  }

  /* 当鼠标悬停在滚动条滑块上时改变颜色 */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(144, 147, 153, .4);
  }
}
.message-box{
  border: 1px solid #ff00e1;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.message-text{
  width: 55%;
}
.message-name{
  font-size: 15px;
  height: auto;
  /* border: 1px solid #000; */
  margin-left: 20px;
  width: 30%;
}
.message-board-box > h1{
  margin-top: 10px;
  margin-left: 15px;
}
.message-tool-box{
  margin-top: 15px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input-text{
  border: 1px solid #ff4da3;
  width: 75%;
  height: 20px;
  border-radius: 10px;
}
.submit-btn{
  border: 1px solid #ff4da3;
  width: 20%;
  height: 25px;
  border-radius: 18px;
}