.login-container {
  opacity: 0;
  pointer-events: none;
  top: 250px;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
}

.login-box {
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  background-color: rgba(121, 121, 121, 0.487);
  box-shadow: 2px 2px 5px black;
}

.box-header {
  margin-top: 50px;
  font-size: 50px;
}

.input-box {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.login-text {
  margin-right: 5px;
  font-size: 25px;
}

.account-input {
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}

.password-input {
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}

.username-input {
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}

.signin-btn {
  margin-top: 80px;
  align-self: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.reg-btn {
  margin-top: 10px;
  align-self: center;
}

.reg-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.back-login {
  cursor: pointer;
  position: absolute;
  transform: translateX(150px);
  top: 5px;
}

.uname-inputbox {
  display: none;
}